html, body {
    height: 100%;
    margin: 0;
}

.map-background {
    width: 100%;
    height: 100%;
    display: block;
}

.classrooms {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.classrooms img {
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s;
}

.classrooms img:hover {
    transform: scale(1.05);
    z-index: 10;
}

#kresge {
    position: absolute;
    width: 215px;
    left: 245px;
    top: 105px;
}
#porter {
    position: absolute;
    width: 190px;
    left: 245px;
    top: 340px;
}
#rcc {
    position: absolute;
    width: 170px;
    left: 370px;
    top: 575px;
}
#oakes {
    position: absolute;
    width: 250px;
    left: 512px;
    top: 670px;
}
#music {
    position: absolute;
    width: 140px;
    left: 655px;
    top: 453px;
}
#elena {
    position: absolute;
    width: 180px;
    left: 555px;
    top: 310px;
}
#thim {
    position: absolute;
    width: 125px;
    left: 573px;
    top: 210px;
}
#phy {
    position: absolute;
    width: 170px;
    left: 555px;
    top: 130px;
}
#jbaskin {
    position: absolute;
    width: 185px;
    left: 541px;
    top: -4px;
}
#jrl {
    position: absolute;
    width: 280px;
    left: 765px;
    top: -35px;
}
#science {
    position: absolute;
    width: 140px;
    left: 700px;
    top: 125px;
}
#earth {
    position: absolute;
    width: 165px;
    left: 760px;
    top: 185px;
}
#class12 {
    position: absolute;
    width: 125px;
    left: 902px;
    top: 213px;
}
#mchenry {
    position: absolute;
    width: 180px;
    left: 750px;
    top: 312px;
}
#cowell {
    position: absolute;
    width: 250px;
    left: 1040px;
    top: 270px;
}
#stev {
    position: absolute;
    width: 190px;
    left: 1235px;
    top: 208px;
}
#huma {
    position: absolute;
    width: 120px;
    left: 1120px;
    top: 208px;
}
#crown {
    position: absolute;
    width: 210px;
    left: 1028px;
    top: -10px;
}
#merrill {
    position: absolute;
    width: 215px;
    left: 1188px;
    top: 50px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("images/Map.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.classrooms {
    position: relative;
    width: 100%;
    transform: translate(75px, 35px);
}

.classrooms img{
    height: auto;
}


#draggable-form {
    width: 250px;
    height: auto;
    min-height: 375px;
    background-color: #ECE9D2;
    text-align: center;
    border: 5px solid #F9D956;
    padding: 10px;
    position: absolute;  
    top: 200px;
    left: 600px;
    font-family: "Trirong", serif;
    font-size: 13px;
    color: #14174C;
    cursor: move;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#building {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
}

#close-form {
    margin-top: 5px;
    background-color: #F9D956;
    color: #14174C;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}

#close-form:hover {
    background-color: #e0c34d;
}

.rating-group {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 5px 0 15px 0;
}

.rate {
    width: 45px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
    filter: grayscale(100%);
}

.rate.filled {
    filter: grayscale(0%);
}

.rate:hover {
    transform: scale(1.2);
}