
.map-wrapper {
    position: relative;
    width: 100%;
    max-width: 1600px;   
    margin: 0 auto;      
}

#map-image {
    width: 100%;
    height: auto;
    display: block;
}

.classrooms {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


html, body {
    height: 100%;
    margin: 0;
}

.map-background {
    width: 100%;
    height: 100%;
    display: block;
}

.classrooms {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.classrooms img {
    position: absolute;
    cursor: pointer;
    transition: transform 0.2s;
}

.classrooms img:hover {
    transform: scale(1.05);
    z-index: 10;
}

#kresge {
    position: absolute;
    width: 202px;
    left: 231px;
    top: 96px;
}
#porter {
    position: absolute;
    width: 175px;
    left: 231px;
    top: 321px;
}
#rcc {
    position: absolute;
    width: 164px;
    left: 346px;
    top: 541px;
}
#oakes {
    position: absolute;
    width: 240px;
    left: 478px;
    top: 630px;
}
#music {
    position: absolute;
    width: 128px;
    left: 618px;
    top: 430px;
}
#elena {
    position: absolute;
    width: 163px;
    left: 526px;
    top: 296px;
}
#thim {
    position: absolute;
    width: 114px;
    left: 542px;
    top: 198px;
}
#phy {
    position: absolute;
    width: 160px;
    left: 523px;
    top: 121px;
}
#jbaskin {
    position: absolute;
    width: 173px;
    left: 510px;
    top: -5px;
}
#jrl {
    position: absolute;
    width: 269px;
    left: 721px;
    top: -35px;
}
#science {
    position: absolute;
    width: 123px;
    left: 665px;
    top: 120px;
}
#earth {
    position: absolute;
    width: 153px;
    left: 717px;
    top: 176px;
}
#class12 {
    position: absolute;
    width: 120px;
    left: 850px;
    top: 199px;
}
#mchenry {
    position: absolute;
    width: 171px;
    left: 705px;
    top: 294px;
}
#cowell {
    position: absolute;
    width: 229px;
    left: 986px;
    top: 254px;
}
#stev {
    position: absolute;
    width: 180px;
    left: 1165px;
    top: 195px;
}
#huma {
    position: absolute;
    width: 117px;
    left: 1056px;
    top: 194px;
}
#crown {
    position: absolute;
    width: 206px;
    left: 967px;
    top: -15px;
}
#merrill {
    position: absolute;
    width: 204px;
    left: 1121px;
    top: 46px;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background: #ECE9D2;   /* neutral background */
}

.classrooms {
    position: relative;
    width: 100%;
    transform: translate(75px, 35px);
}

.classrooms img{
    height: auto;
}


#draggable-form {
    width: 250px;
    height: auto;
    min-height: 375px;
    background-color: #ECE9D2;
    text-align: center;
    border: 5px solid #F9D956;
    padding: 10px;
    position: absolute;  
    top: 200px;
    left: 600px;
    font-family: "Trirong", serif;
    font-size: 13px;
    color: #14174C;
    cursor: move;
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#building {
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
}

#close-form {
    margin-top: 5px;
    background-color: #F9D956;
    color: #14174C;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}

#close-form:hover {
    background-color: #e0c34d;
}

.rating-group {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 5px 0 15px 0;
}

.rate {
    width: 45px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s, filter 0.2s;
    filter: grayscale(100%);
}

.rate.filled {
    filter: grayscale(0%);
}

.rate:hover {
    transform: scale(1.2);
}
